{% extends 'layout.html' %}

{% block title %}
About
{% endblock title %}


{% block jumbotrontitle %}
ABOUT THE POKE-WATCHERS
{% endblock jumbotrontitle %}

{% block jumbotron %}
Founded in the late 1860s, this web development studio is more tenured than 
most, as the company was completely useless until the development of the 
modern internet.

{% endblock jumbotron %}
{% block content %}
<p>I wish I had more time before tomorrow. I have captured crypto market data for coins, including names, IDs(BTC, ETH), etc.
    I am hopeful to still fit this into the project somewhere, maybe if we continue building this one out. 

</p>

{% endblock content %}